.container
    header.clearfix
        #intro
            h1 Steer the Beat
            #station
                | I'm steering the
                input(type='text', value='enter a song name...')
                a(href='#', class='hide') (change) 
                | station.
                ul
        #my-name
            | My name is
            input(type='text', value='enter your name here...')
            | .

    .row
        .span4
            #rate
                h2 Rate
                a.rating(href='#', data-val='5')
                    img(src='/images/icons/love.png', alt='Love')
                a.rating(href='#', data-val='4')
                    img(src='/images/icons/like.png', alt='Like')
                a.rating(href='#', data-val='3')
                    img(src='/images/icons/ok.png', alt='OK')
                a.rating(href='#', data-val='2')
                    img(src='/images/icons/dislike.png', alt='Dislike')
                a.rating(href='#', data-val='1')
                    img(src='/images/icons/hate.png', alt='Hate')

            #visuals
                #boost-button
                    a.btn.btn-danger(href='#')
                        | Boost song <i class="icon-chevron-up icon-white"></i>
                img#album-art

                div#play-progress-container.progress.progress-striped.active.progress-danger
                    div#play-progress-bar.bar(style='width: 0%')
                p.hide
                    | <span class="text" id="playProgress"></span>
                    | <br />
                    | <span class="text" id="playProgressDeets"></span>

                #skip-button
                    a.btn.btn-primary(href='#')
                        | Skip song <i class="icon-chevron-right icon-white"></i>
        .span4
            // TODO: add these elements dynamically via JS
            #search.clearfix
                label(for='search') Drive:
                input(type='text', value='Type a song name to play it now...')
                ul

            p#song
                | <span class="heading">Song:</span>
                | <span class="text"></span>
            p#artist
                | <span class="heading">Artist:</span>
                | <span class="text"></span>
            p#album
                | <span class="heading">Album:</span>
                | <span class="text"></span>

    #sidebar.span4
            h3 Users
            ul#user-list
                li Loading user list...
            
            h3 Messages
            ul#message-list
                li Connecting...

    .row#boosts
        .span6
            h2 Boosts
            .boost.inactive
                span.boost-img(href='#', rel='popover', title='Boost a song', data-content='When you hear a song you like, click "Boost song" to play more songs like it.')
                    img
                a.close-link(href='#', data-index='0')
                    img(src='/images/icons/close.png')

            .boost.inactive
                span.boost-img(href='#', rel='popover', title='Boost a song', data-content='When you hear a song you like, click "Boost song" to play more songs like it.')
                    img
                a.close-link(href='#', data-index='1')
                    img(src='/images/icons/close.png')

            .boost.inactive.last
                span.boost-img(href='#', rel='popover', title='Boost a song', data-content='When you hear a song you like, click "Boost song" to play more songs like it.')
                    img
                a.close-link(href='#', data-index='2')
                    img(src='/images/icons/close.png')

        .span2#sliders
            h2 Advanced
            p Adventurousness
            #adventure.sliderbar
            p Min Danceability
            #min-dance.sliderbar
            p Min Energy
            #min-energy.sliderbar

    footer
        p Copyright &copy; 2012 Steer the Beat.
